<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link href="//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css" rel="stylesheet" type="text/css" />
    <title>{{.Title}}</title>
    <script type="text/javascript" src="../js/autocomplete.js"></script>
    <script type="text/javascript" src="../js/fetchnames.js"></script>
</head>
<body>

<nav>
    <ul>
        <li><a href="https://www.patreon.com/ban_community"><img src="img/misc/patreon.png" width=48></a></li>
        <li><a href="https://discord.gg/hcXpMZB"><img src="img/misc/discord.png" width=48></a></li>
        {{range .Nav}}
            <li>
                <a {{if .Active}}class="{{.Class}}"{{end}} href="{{.Link}}">
                    <span>{{.Name}}</span>
                </a>
            </li>
        {{end}}
        <li>Last data refresh: {{.LastUpdate}}</li>
    </ul>
</nav>

<div class="mainbody">
    {{if ne .ErrorMessage ""}}
        <h1>{{.ErrorMessage}}</h1>
        {{if .ShowPromo}}
            <img class="center" src="img/promo/search.jpg">
        {{end}}
    {{else}}
        <h1>Welcome to BAN Deals</h1>
    {{end}}
    <br>
</div>
</body>
</html>
